{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header-spacer"></div>

<div class="content-wrapper">


	<!-- Block IMG-bottom -->

	<section class="background-contain1 bg-blue-lighteen pt120" style="background-image:url('{% static 'img/about_banner1.jpg' %}');">
		<div class="container">
			<div class="row">
				<div class="crumina-module crumina-module-img-bottom">
					<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module-img-content medium-padding100">
							<div class="crumina-module crumina-heading">
								<h6 class="heading-sup-title"></h6>
								<h2 class="heading-title"><span class="c-primary"></span></h2>
								<div class="h6 heading-text"></div>
							</div>

							<!--<a href="application-development.php" class="btn btn-border btn--with-shadow c-primary">
								Development
							</a>

							<a href="ppc-management-services.php" class="btn btn--green btn--with-shadow">
								Our Services
							</a>-->

						</div>
					</div>

					<div class="col-lg-4 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<!--<img class="img-bottom" src="img/about_banner1.jpg" alt="man">-->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ... end Block IMG-bottom -->


	<!-- Info Boxes -->

	<section class="medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number">01.</h5>
						<h3 class="h5 info-box-title">Our Protfolio</h3>
						<p class="info-box-text">ShrijiOne InfoTech Private Limited provides solutions for all your digital needs. 
                        We are an Ahmedabad-Based IT solution Company Incorporated in 2017. We deliver IT projects of varying complexities across the globe.      
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number">02.</h5>
						<h3 class="h5 info-box-title">What We Do</h3>
						<p class="info-box-text">ShrijiOne InfoTech Private Limited provides high quality, Cost effective Web solutions, 
                        E-commerce projects and mobile applications. We offer digital advertising solutions to expand your business online.
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number">03.</h5>
						<h3 class="h5 info-box-title">How We Do It</h3>
						<p class="info-box-text">We believe in stepping into clients shoes by understanding their business goals. 
                        We keep our clients updated about their on-going projects to successfully cater their needs and achieve high level 
                        of satisfaction.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ... end Info Boxes -->

	<section class="bg-8 background-contain pt100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-heading">
							<h6 class="heading-sup-title"></h6>
							
							<h2 class="heading-title">Who <span class="c-primary">We Are </span> </h2>
							<p class="heading-text">ShrijiOne InfoTech Private Limited is India based software company located in Ahmadabad. We clearly understand that Website is the face of your company online what you offer offline in your business. ShrijiOne InfoTech Private Limited always keeps our finger on the pulse on what's new on the web and implement the latest advanced techniques on the websites we develop. We have high degree of expertise in providing Interactive Web Solutions for our clients at affordable cost.   
							</p>
								<h2 class="heading-title">Technical <span class="c-primary">Experience</span> </h2>
								<p class="heading-text">We are well-versed in a variety of operating systems, networks, and databases. We use this expertise to help our customers with a variety of small to mid-sized projects  
							</p>
								<h2 class="heading-title">Satisfaction <span class="c-primary">Guaranteed</span> </h2>
								<p class="heading-text">That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget, we pride ourselves on providing professional customer service.
							</p>
						</div>
						<a href="{% url 'contact_us' %}" class="btn btn-small btn--icon-right btn-border btn--with-shadow c-primary">
							<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
							<div class="text">
								<span class="title"> Get Started Now </span>
							</div>
						</a>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-our-video">
							<div class="video-thumb">
								<img src="{% static 'img/about_side_banner.jpg' %}" alt="video">
								<!--<a href="httpss://www.youtube.com/watch?v=wnJ6LuUFpMo" class="video-control js-popup-iframe">
									<img src="img/play.png" alt="play">
								</a>-->
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- Info Boxes -->

	

	<!-- ... end Info Boxes -->

	<!-- Case Item -->

	<!--<section class="crumina-module crumina-module-slider medium-padding100">
		<div class="container">
			<div class="row">
				<div class="crumina-module crumina-module-img-bottom">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-heading">
							<h6 class="heading-sup-title">Our Works</h6>
							<h2 class="heading-title">Let Everyone Know Why We are the Best</h2>
							<div class="heading-text">Mirum est notare quam littera gothica, quam nunc putamus parum claram,
								anteposuerit litterarum formas humanitatis per.
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-lg-offset-3 col-md-12 col-sm-12 col-sm-offset-0">
						<a href="#" class="btn btn-border btn--with-shadow c-primary mb30">
							All Works
						</a>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="swiper-container pagination-bottom" data-show-items="2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case1.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case1.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-blue"></div>
									<div class="case-item-content">
										<h5 class="title">Investigationes demonstraverunt lectores legere me legunt saepius</h5>
										<a href="#" class="more-arrow white">
											<span>View Case</span>
											<div class="btn-next">
												<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
												<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
											</div>
										</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case2.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case2.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-violet"></div>
									<div class="case-item-content">
										<h5 class="title">Mirum est notare quam littera gothica, quam nunc putamus parum</h5>
										<a href="#" class="more-arrow white">
											<span>View Case</span>
											<div class="btn-next">
												<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
												<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
											</div>
										</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case1.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case1.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-blue"></div>
									<div class="case-item-content">
										<h5 class="title">Investigationes demonstraverunt lectores legere me legunt saepius</h5>
										<a href="#" class="more-arrow white">
											<span>View Case</span>
											<div class="btn-next">
												<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
												<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
											</div>
										</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case2.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case2.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-violet"></div>
									<div class="case-item-content">
										<h5 class="title">Mirum est notare quam littera gothica, quam nunc putamus parum</h5>
										<a href="#" class="more-arrow white">
											<span>View Case</span>
											<div class="btn-next">
												<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
												<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-pagination bottom-left"></div>
					</div>
				</div>

			</div>
		</div>
	</section>-->

	<!-- ... end Case Items -->


	<!-- Testimonial Slider -->

	<!--<section class="crumina-module crumina-module-slider background-contain bg-16 bg-blue-lighteen pt100">
		<div class="container">
			<div class="row">
				<div class="crumina-module crumina-module-img-bottom">
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<img class="img-bottom" src="img/man2.png" alt="man">
					</div>

					<div class="col-lg-8 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<div class="crumina-module-img-content">
									<div class="crumina-module crumina-heading">
										<h2 class="heading-title">What Our Customers Say about ShrijiOne InfoTech Private Limited</h2>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="swiper-container top-navigation" data-show-items="2">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
													<div class="author-info-wrap">
														<!--<div class="testimonial-img-author">
															<img src="img/author2.png" alt="author">
														</div>-->
											<!--			<div class="author-info">
															<a href="#" class="h6 author-name">Mr. Manish Shah</a>
															<div class="author-company">Director, Rushabh Tractor Parts</div>
														</div>
													</div>

													<h6 class="testimonial-text">
														Satisfied with the project. Instant updates and regular follow-up makes them different from other IT companies.
													</h6>

													<ul class="rait-stars">
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star-half-empty"><use xlink:href="#utouch-icon-star-half-empty"></use></svg>
															</a>
														</li>
													</ul>

												</div>

											</div>
										</div>
										<div class="swiper-slide">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
													<div class="author-info-wrap">
														<!--<div class="testimonial-img-author">
															<img src="img/author3.png" alt="author">
														</div>-->
														<!--<div class="author-info">
															<a href="#" class="h6 author-name">Mr. Subhash Shah</a>
															<div class="author-company">Owner, Arjun Spices</div>
														</div>
													</div>

													<h6 class="testimonial-text">
														Received a good amount of inquires through website. The design, content and banners were impressive.</br> Good Work.
													</h6>

													<ul class="rait-stars">
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
														<li>
															<a href="#">
																<svg class="utouch-icon utouch-icon-star"><use xlink:href="#utouch-icon-star"></use></svg>
															</a>
														</li>
													</ul>

												</div>

											</div>
										</div>
									</div>-->

									<!--Prev next buttons-->

								<!--	<div class="btn-slider-wrap navigation-top-right">

										<div class="btn-prev">
											<svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
											<svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
										</div>

										<div class="btn-next">
											<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
											<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>-->

	<!-- ... end Testimonial Slider -->


	<!-- Teammembers -->

	<!--<section class="medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Meet Our Professional Team</h2>
						<div class="heading-text">A perfect blend of Creativity and Technical expertise
						</div>
					</div>
				</div>

				<div class="teammembers-wrap">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
								<img src="team-img/1.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">Founder and Director</div>

								<a href="#" class="h5 teammembers-item-name">Darshit Shah</a>

								<p>Mr. Shah has done his Masters in Business Administration from FLAME University, Pune and IESEG School of Management, Paris and has done his bachelor’s in Computer Engineering from LD College of Engineering.</p>

								<ul class="socials socials--round">
									<li>
										<a href="https://www.facebook.com/darshit.shah.148" class="social__item facebook" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://twitter.com/Darshitshah01" class="social__item twitter" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://www.linkedin.com/in/darshit-shah-35b332113/" class="social__item linkedIn" target="_blank">
											<img class="utouch-icon" src="svg/linkedin.svg" alt="smartphone">
										</a>
									</li>
								</ul>



							</div>
						</div>-->

						<!--<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
								<img src="img/teammember3.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">Co-Founder and Director</div>

								<a href="#" class="h5 teammembers-item-name">Britney Simpson</a>

								<p>Mr. Patel is an Ex-Employee of WIPRO Limited, Worked as a Software Engineer and has a bachelor’s degree in Computer engineering from LD College of Engineering.</p>

								<ul class="socials socials--round">
									<li>
										<a href="" class="social__item facebook">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item twitter">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item googlePlus">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
										</a>
									</li>
								</ul>



							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<!--<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
								<img src="img/teammember3.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">JS Developer</div>

								<a href="#" class="h5 teammembers-item-name">Christian Bush</a>

								<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>

								<ul class="socials socials--round">
									<li>
										<a href="" class="social__item facebook">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item twitter">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item googlePlus">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
										</a>
									</li>
								</ul>

							</div>
						</div>

						<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
<!--								<img src="img/teammember2.png" alt="team member">     
                                    <img src="team-img/3.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">Co-Founder and Director</div>

								<a href="#" class="h5 teammembers-item-name">Milind Patel</a>

								<p>Mr. Patel is an Ex-Employee of WIPRO Limited, Worked as a Software Engineer and has a bachelor’s degree in Computer engineering from LD College of Engineering.</p>

								<ul class="socials socials--round">
									<li>
										<a href="https://www.facebook.com/milind.patel.562114" class="social__item facebook" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://twitter.com/milind25394" class="social__item twitter" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://www.linkedin.com/in/milind-patel-41187010a/" class="social__item linkedIn" target="_blank">
											<img class="utouch-icon" src="svg/linkedin.svg" alt="smartphone">
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
								<img src="team-img/3.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">Co-Founder and CTO</div>

								<a href="#" class="h5 teammembers-item-name">Rahul Raghav</a>

								<p>Mr Raghav is the Technical heart of the company. He has done his Post Graduation in DASDM from Pune. He has an experience of more than 3 years in the field of development and Server analysis.</p>

								<ul class="socials socials--round">
									<li>
										<a href="https://www.facebook.com/rahulraghav1989" class="social__item facebook" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://twitter.com/rahulraghav25" class="social__item twitter" target="_blank">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="https://www.linkedin.com/in/rahul-raghav" class="social__item linkedIn" target="_blank">
											<img class="utouch-icon" src="svg/linkedin.svg" alt="smartphone">
										</a>
									</li>
								</ul>



							</div>
						</div>

						<!--<div class="crumina-module crumina-teammembers-item">

							<div class="teammembers-thumb">
								<img src="img/teammember3.png" alt="team member">
							</div>

							<div class="teammember-content">

								<div class="teammembers-item-prof">Co-Founder and Director</div>

								<a href="#" class="h5 teammembers-item-name">Britney Simpson</a>

								<p>Mr. Patel is an Ex-Employee of WIPRO Limited, Worked as a Software Engineer and has a bachelor’s degree in Computer engineering from LD College of Engineering.</p>

								<ul class="socials socials--round">
									<li>
										<a href="" class="social__item facebook">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item twitter">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
										</a>
									</li>

									<li>
										<a href="" class="social__item googlePlus">
											<svg class="utouch-icon" viewBox="0 0 16 16" xmlns="https://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path></svg>
										</a>
									</li>
								</ul>



							</div>
						</div>
					</div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    </div>                    
                    </div>
				</div>

			</div>
		</div>
	</section>-->

	<!-- ... end Teammembers -->
    
    <section class="crumina-module crumina-module-slider bg-blue-lighteen medium-padding100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0">
                    <div class="crumina-module crumina-heading align-center">
                        <h2 class="heading-title">Let’s talk about your Requirement!</h2>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="swiper-container pagination-bottom" data-show-items="4">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="crumina-module crumina-info-box info-box--time-line">

                                    <div class="info-box-image bg-primary-color">
                                        <img class="utouch-icon" src="svg/flag.svg" alt="flag">
<!--										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
-->									</div>

                                    <div class="info-box-content">
                                        <h6 class="timeline-year c-primary">Call Us </h6>
                                        <div class="h6 info-box-title stfont">+91 9265838861</div>
                                        <!--<p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation
                                            qui nunc nobis videntur parum clari.
                                        </p>-->
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="crumina-module crumina-info-box info-box--time-line">

                                    <div class="info-box-image bg-orange">
                                        <img class="utouch-icon" src="{% static 'svg/settings.svg' %}" alt="settings">
<!--										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
-->									</div>

                                    <div class="info-box-content">
                                        <h6 class="timeline-year c-orange">Email Us </h6>
                                        <div class="h6 info-box-title stfont">info@shrijioneinfotech.com</div>
                                        <!--<p class="info-box-text">Mirum est notare quam littera gothica, quam nunc putamus
                                            parum claram, anteposuerit lectores legere me lius quod ii legunt.
                                        </p>-->
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="crumina-module crumina-info-box info-box--time-line">

                                    <div class="info-box-image bg-red">
                                        <img class="utouch-icon" src="{% static 'svg/team.svg' %}" alt="team">
<!--										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
-->									</div>

                                    <div class="info-box-content">
                                        <h6 class="timeline-year c-red">Skype Us </h6>
                                        <div class="h6 info-box-title stfont">shrijioneinfotech</div>
                                        <!--<p class="info-box-text">Investigationes demonstraverunt lectores legere me lius quod.
                                        </p>-->
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="crumina-module crumina-info-box info-box--time-line">
                                    <a href="#" class="js-message-popup cd-nav-trigger">
                                    <div class="info-box-image bg-green">
                                        <img class="utouch-icon" src="{% static 'svg/rocket-launch.svg' %}" alt="rocket">
<!--										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
-->									</div>
                                    </a>
                                    <div class="info-box-content">
                                        <h6 class="timeline-year c-green">Request a Call </h6>
                                        <div class="h6 info-box-title stfont">Meet You Soon</div>
                                        <!--<p class="info-box-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                            ullamcorper suscipit lobortis nisl ut aliquip.
                                        </p>-->
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Prev next buttons-->

                        <!--<div class="btn-slider-wrap navigation-center-bottom">

                            <div class="btn-prev">
                                <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
                                <svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
                            </div>

                            <div class="btn-next">
                                <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                            </div>

                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}